@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "HennyPennyRegular";
  src: url("/fonts/HennyPenny-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "CreepsterRegular";
  src: url("/fonts/Creepster-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@layer components {
  .btn-primary {
    @apply bg-fifth text-secondary border-secondary border-2 hover:border-fifth hover:bg-primary hover:text-fifth hover:cursor-pointer focus:ring-4 focus:ring-fifth font-medium rounded-md text-sm px-5 py-2 md:py-2.5 me-2 focus:outline-none;
  }
  .btn-secondary {
    @apply bg-fifth text-fourth border-fourth border-2 hover:border-fifth hover:bg-primary hover:text-fifth hover:cursor-pointer focus:ring-4 focus:ring-fifth font-medium rounded-md text-xs px-5 py-2 md:py-2.5 me-2 focus:outline-none;
  }
  h2 {
    @apply font-CreepsterRegular text-secondary mt-4 text-xl tracking-widest;
  }
  html {
		font-family: system-ui, sans-serif;
		@apply bg-sixth text-fourth
	}
}


